@page
@model TheMilesTours.Pages.Car.CarDetailModel
@{
}

<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/site/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div><!-- /.page-header__bg -->
    <div class="container">
        <div class="page-header__content">
            <h2 class="page-header__title bw-split-in-right">@Model.Car.Name</h2>
            <ul class="gotur-breadcrumb list-unstyled">
                <li><a href="/index">Home</a></li>
                <li><span>Details</span></li>
            </ul><!-- /.thm-breadcrumb list-unstyled -->
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="destination-details section-space">
    <div class="container">
        <div class="destination-carousel">
            <div class="destination-carousel__inner gotur-owl__carousel gotur-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
            "items" : 1,
            "margin" : 30,
            "loop" : true,
            "smartSpeed" : 700,
            "nav" : true,
            "navText" : ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "dots": false,
            "autoplay": false
            }'>
                @foreach (var image in Model.Car.CarGallery)
                {
                    <div class="item">
                        <div class="destination-carousel__item">
                            <img src="@image.ImageUrl" alt="destination">
                        </div><!-- /.destination-carousel__item -->
                    </div>

                    <!-- /.item -->

                }
            </div><!-- /.destination-carousel__inner -->
        </div><!-- /.destination-carousel -->
        <div class="row gutter-y-30">
            <div class="col-lg-8">
                <div class="destination-details__content">

                    <div class="destination-details__content__item">
                        <h3 class="destination-details__title wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>Overview</h3><!-- /.destination-details__title -->
                        <p class="destination-details__text wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>@Html.Raw(Model.Car.GeneralInformation)</p><!-- /.destination-details__text -->
                    </div><!-- /.destination-details__content__item -->


                    <div class="destination-details__content__thumb wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                        <div class="row gutter-y-30">
                            @foreach(var image in Model.Car.CarGallery.Take(2))
                            {
                                <div class="col-md-6">
                                    <div class="destination-details__content__thumb__item"><img src="@image.ImageUrl" alt="destination details"></div><!-- /.destination-details__content__thumb -->
                                </div>

                                <!-- /.col-md-6 -->
                            }
                            
                        </div><!-- /.row -->
                    </div><!-- /.destination-details__content__thumb -->

                    <div class="destination-details__content__faq destination-details__content__item">
                        <!-- Section Title Start -->
                       
                        <!-- Section Title End -->
                        <!-- FAQ Accordion Start -->
                        <div class="faq-page__accordion faq-accordion gotur-accordion" data-grp-name="gotur-accordion">

                            <div class="accordion wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='0s'>
                                <div class="accordion-title">
                                    <h4 class="accordion-title__text">How can I book a car with TheMilesTours?<span class="accordion-title__icon"></span></h4>
                                </div>
                                <div class="accordion-content">
                                    <div class="inner">
                                        <p class="inner__text">You can book a car by calling our customer service, messaging us on WhatsApp, or filling out the booking form on our website. Advance booking is recommended for availability.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='0.25s'>
                                <div class="accordion-title">
                                    <h4 class="accordion-title__text">Do I need to pay in advance to confirm my booking?<span class="accordion-title__icon"></span></h4>
                                </div>
                                <div class="accordion-content">
                                    <div class="inner">
                                        <p class="inner__text">Yes, a partial or full advance payment is required to secure your booking. Payment options include bank transfer, JazzCash, Easypaisa, or cash on delivery.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='0.5s'>
                                <div class="accordion-title">
                                    <h4 class="accordion-title__text">What documents are required to rent a car?<span class="accordion-title__icon"></span></h4>
                                </div>
                                <div class="accordion-content">
                                    <div class="inner">
                                        <p class="inner__text">For self-drive rentals, you need to provide a valid CNIC, a driving license, and a security deposit. If renting with a driver, only your CNIC is required.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='0.75s'>
                                <div class="accordion-title">
                                    <h4 class="accordion-title__text">Can I take the rental car to other cities like Gilgit or Hunza?<span class="accordion-title__icon"></span></h4>
                                </div>
                                <div class="accordion-content">
                                    <div class="inner">
                                        <p class="inner__text">Yes, you can travel to Gilgit, Hunza, Deosai, and other northern areas with our rental cars. However, long-distance travel may require additional charges.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='1s'>
                                <div class="accordion-title">
                                    <h4 class="accordion-title__text">Can I rent a car without a driver’s license?<span class="accordion-title__icon"></span></h4>
                                </div>
                                <div class="accordion-content">
                                    <div class="inner">
                                        <p class="inner__text">No, a valid Pakistani or international driving license is required for self-drive rentals. However, you can rent a car with a driver without a license.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='1.25s'>
                                <div class="accordion-title">
                                    <h4 class="accordion-title__text">Can I extend my rental period after booking?<span class="accordion-title__icon"></span></h4>
                                </div>
                                <div class="accordion-content">
                                    <div class="inner">
                                        <p class="inner__text">Yes, you can extend your rental by informing us in advance. Extension is subject to car availability.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- FAQ Accordion End -->
                    </div>
                </div><!-- /.destination-details__content -->
            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <aside class="destination-details__sidebar">
                    <div class="destination-details__sidebar__item destination-details__sidebar__item-list wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                        <h4 class="destination-details__sidebar__title wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>Car Information</h4>
                        <ul class="destination-details__sidebar__list">

                            <li>
                                <p class="destination-details__sidebar__text"> <i class="icon-check-star"></i> Name:</p>
                                <span>@Model.Car.Name</span>
                            </li>

                            <li>
                                <p class="destination-details__sidebar__text"> <i class="icon-check-star"></i> Rent Per Day:</p>
                                <span>Rs @Model.Car.RentPerDay</span>
                            </li>

                            <li>
                                <p class="destination-details__sidebar__text"> <i class="icon-check-star"></i> Transmission:</p>
                                <span>@Model.Car.Transmission</span>
                            </li>

                            <li>
                                <p class="destination-details__sidebar__text"> <i class="icon-check-star"></i> Air Condition:</p>
                                <span>@Model.Car.AirCondtion</span>
                            </li>

                            <li>
                                <p class="destination-details__sidebar__text"> <i class="icon-check-star"></i> Driver:</p>
                                <span>@Model.Car.Driver</span>
                            </li>

                            <li>
                                <p class="destination-details__sidebar__text"> <i class="icon-check-star"></i> Fuel:</p>
                                <span>@Model.Car.Fuel</span>
                            </li>

                            <li>
                                <p class="destination-details__sidebar__text"> <i class="icon-check-star"></i> Colour:</p>
                                <span>@Model.Car.Colour</span>
                            </li>
                           
                        </ul>
                      
                    </div>
                    <div class="listing-card-four__content__btn">
                        @* <a href="#" class="listing-card-four__content__btn__hart"><i class="far fa-heart"></i></a> *@
                        <a href="https://wa.me/923144107134" target="_blank" class="listing-card-four__btn gotur-btn">
                            Book Now <span class="icon"><i class="icon-right"></i></span>
                        </a>

                    </div><!-- /.listing-card-four__content__btn -->
                    <div class="destination-details__sidebar__item destination-details__sidebar__item-map wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                        @* <iframe title="template google map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd" class="map__@@extraClassName" allowfullscreen></iframe> *@
                    </div><!-- /.destination-details__sidebar__item destination-details__sidebar__item-map -->
                </aside><!-- /.destination-details__sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.destination-details -->