@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section class="main-slider-two" id="home">
    <div class="main-slider-two__carousel gotur-owl__carousel owl-carousel gotur-owl__carousel--basic-nav" data-owl-options='{
         "loop" : true,
         "animateOut" : "fadeOut" ,
         "animateIn" : "fadeIn" ,
         "items" : 1,
         "autoplay" : true,
         "smartSpeed" : 3000,
         "nav" : true,
         "navText" : ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "dots": false,
            "margin": 0
        }'>
                <div class="item">
                    <div class="main-slider-two__item">
                        <div class="main-slider-two__bg" style="background-image: url(/assets/site/assets/images/backgrounds/main-slider-bg-1-1.jpg);"></div><!-- /.main-slider-two__bg -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-12">
                                    <div class="main-slider-two__content">
                                        <h5 class="main-slider-two__sub-title">Explore Worlds</h5><!-- slider-sub-title -->
                                        <h2 class="main-slider-two__title">
                                            Exploring Beautiful <br> Destinations
                                            <span class="main-slider-two__title__overlay-group">
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                            </span>
                                        </h2><!-- slider-title -->
                                        <p class="main-slider-two__text">We Want to create an enabling environment for Pakistan’s tourism industry by providing facilities that commensurate with our rich cultural heritage, rare archaeological treasures and exquisite environmental beauty</p><!-- /.main-slider-two__text -->

                                    </div><!-- /.main-slider-two__content -->
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                        <div class="main-slider-two__element">
                            <img src="/assets/site/assets/images/shapes/hero-1-4.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-one">
                            <img src="/assets/site/assets/images/shapes/hero-shapr-1-2.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-two">
                            <img src="/assets/site/assets/images/shapes/hero-1-2.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-three">
                            <img src="/assets/site/assets/images/shapes/hero-shapr-1-2-a.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-four">
                            <img src="/assets/site/assets/images/shapes/hero-1-1.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                    </div><!-- /.main-slider-two__item -->
                </div><!-- /.item -->
                <div class="item">
                    <div class="main-slider-two__item">
                        <div class="main-slider-two__bg" style="background-image: url(/assets/site/assets/images/backgrounds/main-slider-bg-1-2.jpg);"></div><!-- /.main-slider-two__bg -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-12">
                                    <div class="main-slider-two__content">
                                        <h5 class="main-slider-two__sub-title">Explore Worlds</h5><!-- slider-sub-title -->
                                        <h2 class="main-slider-two__title">
                                            Exploring Beautiful <br> Destinations
                                            <span class="main-slider-two__title__overlay-group">
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                            </span>
                                        </h2><!-- slider-title -->
                                        <p class="main-slider-two__text">pretium posuere. Nam eget est felis. Donec luctus lobortis nisl rutrum gravida. Pellentesque varius posuere magna sed sodales. Phasellus</p><!-- /.main-slider-two__text -->

                                    </div><!-- /.main-slider-two__content -->
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                        <div class="main-slider-two__element">
                            <img src="/assets/site/assets/images/shapes/hero-1-4.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-one">
                            <img src="/assets/site/assets/images/shapes/hero-shapr-1-2.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-two">
                            <img src="/assets/site/assets/images/shapes/hero-1-2.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-three">
                            <img src="/assets/site/assets/images/shapes/hero-shapr-1-2-a.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-four">
                            <img src="/assets/site/assets/images/shapes/hero-1-1.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                    </div><!-- /.main-slider-two__item -->
                </div><!-- /.item -->
                <div class="item">
                    <div class="main-slider-two__item">
                        <div class="main-slider-two__bg" style="background-image: url(/assets/site/assets/images/backgrounds/main-slider-bg-1-3.jpg);"></div><!-- /.main-slider-two__bg -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-12">
                                    <div class="main-slider-two__content">
                                        <h5 class="main-slider-two__sub-title">Explore Worlds</h5><!-- slider-sub-title -->
                                        <h2 class="main-slider-two__title">
                                            Exploring Beautiful <br> Destinations
                                            <span class="main-slider-two__title__overlay-group">
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                                <span class="main-slider-two__title__overlay"></span>
                                            </span>
                                        </h2><!-- slider-title -->
                                        <p class="main-slider-two__text">pretium posuere. Nam eget est felis. Donec luctus lobortis nisl rutrum gravida. Pellentesque varius posuere magna sed sodales. Phasellus</p><!-- /.main-slider-two__text -->

                                    </div><!-- /.main-slider-two__content -->
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                        <div class="main-slider-two__element">
                            <img src="/assets/site/assets/images/shapes/hero-1-4.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-one">
                            <img src="/assets/site/assets/images/shapes/hero-shapr-1-2.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-two">
                            <img src="/assets/site/assets/images/shapes/hero-1-2.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-three">
                            <img src="/assets/site/assets/images/shapes/hero-shapr-1-2-a.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                        <div class="main-slider-two__element-four">
                            <img src="/assets/site/assets/images/shapes/hero-1-1.png" alt>
                        </div><!-- /.main-slider-two__content__bg -->
                    </div><!-- /.main-slider-two__item -->
                </div><!-- /.item -->
            </div><!-- /.main-slider-two__carousel -->

   @*  <div class="main-slider-two__action-form">
        <div class="container">
            <div class="main-slider-two__form">
                <div class="banner-form wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                    <div class="container">
                        <form class="banner-form__wrapper" action="https://pixydrops.com/gotur-html/tour-listing-2.html">
                            <div class="banner-form row gutter-x-30 align-items-center">
                                <div class="banner-form__control banner-form__col--1">
                                    <i class="icon icon-location"></i>
                                    <label for="location">Location</label>
                                    <select name="location" class="selectpicker" id="location">
                                        <option value="select">Australia</option>
                                        <option value="spain">Spain</option>
                                        <option value="africa">Africa</option>
                                        <option value="europe">Europe</option>
                                    </select>
                                </div>
                                <div class="banner-form__control banner-form__col--2">
                                    <i class="icon icon-travle"></i>
                                    <label for="type2">Activities Type</label>
                                    <select name="type" class="selectpicker" id="type2">
                                        <option value="select">Adventure</option>
                                        <option value="spanis">Booking Type</option>
                                        <option value="africa">Beach</option>
                                        <option value="europe">Discovery</option>
                                    </select>
                                </div>
                                <div class="banner-form__control banner-form__control--date banner-form__col--3">
                                    <i class="icon icon-clock"></i>
                                    <label for="date">Activate Day</label>
                                    <input class="gotur-multi-datepicker" id="date" type="text" name="date" placeholder="Fev 5 - 5">
                                </div>
                                <div class="banner-form__control banner-form__col--4">
                                    <i class="icon icon-group"></i><!-- / -->
                                    <label for="guests">Traveler</label>
                                    <button type="button" class="banner-form__qty-minus sub">
                                        <i class="icon-down-arrow"></i>
                                    </button>
                                    <input id="guests" type="number" value="2" name="guests" placeholder="2">
                                    <button type="button" class="banner-form__qty-plus add">
                                        <i class="icon-down-arrow"></i>
                                    </button>
                                </div>
                                <div class="banner-form__control banner-form__button banner-form__col--5">
                                    <button class="gotur-btn" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- banner-form -->
            </div><!-- /.main-slider-four__form -->
        </div><!-- /.container -->
    </div><!-- /.main-slider-two__action-form --> *@
</section><!-- /.main-slider-two -->




<section class="popular-destination section-space" id="destination">
    <div class="container">
        <div class="sec-title text-center">
            <h6 class="sec-title__tagline bw-split-in-right">Popular Destination</h6><!-- /.sec-title__tagline -->
            <h3 class="sec-title__title bw-split-in-left">Popular <span>Destinations</span></h3><!-- /.sec-title__title -->
        </div><!-- /.sec-title -->

        <div class="popular-destination__carousel gotur-owl__carousel gotur-owl__carousel--with-shadow gotur-owl__carousel--basic-nav owl-carousel owl-theme" data-owl-options='{
             "items" : 4,
             "margin" : 22,
             "loop" : false,
             "smartSpeed" : 700,
             "nav" : true,
             "navText" : ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "dots": false,
            "autoplay": false,
            "responsive": {
                "0": {
                    "items": 1
                },
                "576": {
                    "items": 2
                },
                "768": {
                    "items": 3
                },
                "992": {
                    "items": 4
                }
            }
        }'>
            @foreach (var destination in Model.Destinations)
            {
                    <div class="item">
                        <div class="destinations-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="destinations-card__thumb">
                                <img src="/@destination.ComverImageUrl" alt="destinations image">
                                <div class="destinations-card__group-card">
                                @* <p class="destinations-card__group-card__text">5 Tour+</p>
                                <p class="destinations-card__group-card__text">1 Hotel</p> *@
                                </div><!-- /.destinations-card__group-card -->
                            </div><!-- /.destinations-card__thumb -->
                            <h4 class="destinations-card__title"><a href="/destination/detail?id=@destination.Id">@destination.Title</a></h4><!-- /.destinations-card__title -->
                        </div><!-- /.destinations-card -->
                    </div>

                <!-- /.item -->
            }
        </div><!-- /.popular-destination__carousel -->
    </div><!-- /.container -->
    <div class="popular-destination__element">
        <img src="/assets/site/assets/images/shapes/des-1-1.png" alt>
    </div><!-- /.popular-destination__element -->
</section><!-- /.popular-destination -->
<section class="about-five section-space" id="about">
    <div class="container">
        <div class="row gutter-y-40 align-items-center">
            <div class="col-lg-5">
                <div class="about-five__thumb wow fadeInLeft" data-wow-duration='1500ms' data-wow-delay='300ms'>
                    <div class="about-five__thumb__item  ">
                        <img src="/assets/site/assets/images/about/about-5-1.jpg" alt="thumb item">
                    </div><!-- /.about-five__thumb__item -->
                    <div class="about-five__thumb__item-small  ">
                        <img src="/assets/site/assets/images/about/about-s-5-1.jpg" alt="thumb item">
                    </div><!-- /.about-five__thumb__item -->
                    <div class="about-five__thumb__item-video">
                        <a class="video-popup" href="https://www.youtube.com/watch?v=0MuL8fd3pb8"><i class="fas fa-play"></i><i class="ripple"></i></a>
                    </div><!-- /.about-five__thumb__item-video -->
                    <div class="about-five__thumb__item-element">
                        <img src="/assets/site/assets/images/shapes/about-5-3.png" alt>
                    </div><!-- /.about-five__thumb__item-element -->
                </div><!-- /.about-five__left -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-7">
                <div class="about-five__right">
                    <div class="sec-title ">
                        <h6 class="sec-title__tagline bw-split-in-right">About Gotur</h6><!-- /.sec-title__tagline -->
                        <h3 class="sec-title__title bw-split-in-left">Experience The Mew <span>Adventure</span> With Us</h3><!-- /.sec-title__title -->
                    </div><!-- /.sec-title -->
                    <p class="about-five__top__text wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                        The company’s expertise lies in Road tours, treks, Hiking, Climbing and also expedition assistance in Gilgit Baltistan KPK & In Kashmir Pakistan.
                        Our company is equally involved in tourism-related activities throughout Pakistan with the same volume.
                        We have team from young minds to experienced team members, the company understands the strengths, weaknesses and most importantly the potential-for-improvement of tourism industry in Pakistan.
                    </p><!-- /.about-five__top__text -->
                    <div class="about-five__feature">
                        <div class="about-five__feature__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="about-five__feature__icon">
                                <i class="icon-flag"></i>
                            </div><!-- /.about-five__feature__icon -->
                            <div class="about-five__feature__content">
                                <h4 class="about-five__feature__title">Trusted travel guide</h4><!-- /.about-five__feature__title -->
                                <p class="about-five__feature__text">Expertly curated trips for every traveler. Local insights you can trust.</p><!-- /.about-five__feature__text -->
                            </div><!-- /.about-five__feature__content -->
                        </div><!-- /.about-five__feature__item -->
                        <div class="about-five__feature__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='400ms'>
                            <div class="about-five__feature__icon">
                                <i class="icon-calender"></i>
                            </div><!-- /.about-five__feature__icon -->
                            <div class="about-five__feature__content">
                                <h4 class="about-five__feature__title">Instant Booking</h4><!-- /.about-five__feature__title -->
                                <p class="about-five__feature__text">Book your dream getaway in minutes. Fast, simple, and secure.</p><!-- /.about-five__feature__text -->
                            </div><!-- /.about-five__feature__content -->
                        </div><!-- /.about-five__feature__item -->
                    </div><!-- /.about-five__feature -->
                    <div class="about-two__button wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                        <a href="blog-details-left.html" class="gotur-btn gotur-btn--primary">Discover More <span class="icon"><i class="icon-right"></i></span><!-- /.icon --></a>
                        <div class="about-two__button__author">
                            <div class="about-two__button__author__thumb">
                                <img src="/assets/site/assets/images/resources/about-author-1-1.png" alt="author">
                            </div><!-- /.about-two__button__call__icon -->
                            <div class="about-two__button__author__content">
                                <h5 class="about-two__button__author__name">Ronald Richards</h5>
                                <span class="about-two__button__author__dec">Co, Founder</span><!-- /.about-two__button__author__dec -->
                            </div><!-- /.about-two__button__call__content -->
                        </div><!-- /.about-two__button__call -->
                    </div><!-- /.about-two__button -->
                </div><!-- /.about-five__right -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="about-five__element-one">
        <img src="/assets/site/assets/images/shapes/about-5-1.png" alt>
    </div><!-- /.about-five__element -->
    <div class="about-five__element-two">
        <img src="/assets/site/assets/images/shapes/about-5-2.png" alt>
    </div><!-- /.about-five__element -->
</section><!-- /.about-five -->

<section class="tour-listing-page section-space">
    <div class="container">
        <div class="listing-from wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='400ms'>
            <form method="get" action="https://pixydrops.com/gotur-html/tour-listing-1.html">
                <div class="row gutter-y-20 gutter-x-20">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="listing-from__control">
                            <select name="locations" class="selectpicker" id="locations">
                                <option value="select">Locations</option>
                                <option value="spain">Spain</option>
                                <option value="spain">Canada</option>
                                <option value="africa">Africa</option>
                                <option value="europe">Europe</option>
                                <option value="thailand">Thailand</option>
                                <option value="dubai">Dubai</option>
                                <option value="australia">Australia</option>
                                <option value="swizerlan">Swizerlan</option>
                            </select>
                        </div>
                    </div><!-- /.col-lg-3 col-md-4 col-sm-6 -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="listing-from__control">
                            <select name="hotel" class="selectpicker" id="hotel">
                                <option value="select">Hotel type</option>
                                <option value="bedrooms1"> Bedrooms 1</option>
                                <option value="bedrooms2"> Bedrooms 2</option>
                                <option value="bedrooms3"> Bedrooms 3</option>
                                <option value="bedrooms4"> Bedrooms 4</option>
                                <option value="bedrooms5"> Bedrooms 5</option>
                            </select>
                        </div>
                    </div><!-- /.col-lg-3 col-md-4 col-sm-6 -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="listing-from__control">
                            <select name="budget" class="selectpicker" id="budget">
                                <option value="select">Tour budget</option>
                                <option value="africa">$300</option>
                                <option value="europe">$500</option>
                                <option value="thailand">$1000</option>
                                <option value="dubai">$1500</option>
                                <option value="australia">$2000</option>
                                <option value="swizerlan">$3000</option>
                            </select>
                        </div>
                    </div><!-- /.col-lg-3 col-md-4 col-sm-6 -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="listing-from__control">
                            <select name="type" class="selectpicker" id="type">
                                <option value="select">Activates type</option>
                                <option value="spain">2</option>
                                <option value="spain">3</option>
                                <option value="africa">4</option>
                                <option value="europe">6</option>
                                <option value="thailand">7</option>
                                <option value="dubai">9</option>
                            </select>
                        </div>
                    </div><!-- /.col-lg-3 col-md-4 col-sm-6 -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="listing-from__control">
                            <select name="local" class="selectpicker" id="local">
                                <option value="select">Hotel type</option>
                                <option value="bathrooms1">Bathrooms 1</option>
                                <option value="bathrooms2">Bathrooms 2</option>
                                <option value="bathrooms3">Bathrooms 3</option>
                                <option value="bathrooms4">Bathrooms 4</option>
                            </select>
                        </div>
                    </div><!-- /.col-lg-3 col-md-4 col-sm-6 -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="listing-from__control">
                            <select name="Reviews" class="selectpicker" id="Reviews">
                                <option value="select">Reviews</option>
                                <option value="spain">Spain</option>
                                <option value="spain">Canada</option>
                            </select>
                        </div>
                    </div><!-- /.col-lg-3 col-md-4 col-sm-6 -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="listing-from__control">
                            <select name="price" class="selectpicker" id="price">
                                <option value="select">Filter Price</option>
                                <option value="africa">$300</option>
                                <option value="europe">$500</option>
                                <option value="thailand">$1000</option>
                                <option value="dubai">$1500</option>
                                <option value="australia">$2000</option>
                                <option value="swizerlan">$3000</option>
                            </select>
                        </div>
                    </div><!-- /.col-lg-3 col-md-4 col-sm-6 -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="listing-from__control">
                            <button class="gotur-btn" type="button">Search Now</button>
                        </div>
                    </div><!-- /.col-lg-3 col-md-4 col-sm-6 -->
                </div><!-- /.row -->
            </form>
        </div><!-- /.listing-from -->
        <div class="row gutter-y-30 gutter-x-30">
            @foreach(var tour in Model.Tours){
                <div class="col-lg-4 col-md-6">
                    <div class="listing-card-two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                        <div class="listing-card-two__image">
                            <img src="/@tour.CoverImageUrl" alt="All Inclusive Ultimate Circle Island Day with Lunch">
                            <a href="/Tour/Detail?id=@tour.Id" class="listing-card-two__overlay"></a>


                            <div class="listing-card-two__btn-group">

                                <div class="listing-card-two__discount">-30% Off</div><!-- /.listing-card-two__discount -->


                            </div><!-- /.listing-card-two__btn-group -->
                            <div class="listing-card-two__btns">
                                <a href="#" class="listing-card-two__popup card__popup" data-gallery-options='{
                        "items": [
                            {
                                "src": "/assets/site/assets/images/blog/listing-1-1.jpg"
                            },
                            {
                                "src": "/assets/site/assets/images/blog/listing-1-2.jpg"
                            },
                            {
                                "src": "/assets/site/assets/images/blog/listing-1-3.jpg"
                            }
                        ],
                        "gallery": {
                            "enabled": true
                        },
                        "type": "image"
                    }'>
                                    <span class="icon-image"></span>
                                </a>
                                <a class="video-popup" href="https://www.youtube.com/watch?v=0MuL8fd3pb8"><span class="icon-video"></span></a>
                            </div>
                        </div><!-- /.listing-card-two__image -->
                        <div class="listing-card-two__content">
                            <div class="listing-card-two__rating">
                                <span>(10 Review)</span>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </div><!-- /.listing-card-two__rating -->
                            <h3 class="listing-card-two__title"><a href="tour-listing-details-2.html">@tour.Title</a></h3><!-- /.listing-card-two__title -->
                            <div class="listing-card-two__content__inner">
                                <ul class="listing-card-two__meta list-unstyled">
                                    <li>
                                        <a href="tour-listing-details-2.html"> <span class="listing-card-two__meta__icon"> <i class="icon-pin"></i> </span>@tour.Location</a>
                                    </li>
                                    <li>
                                        <a href="tour-listing-details-2.html"> <span class="listing-card-two__meta__icon"> <i class="icon-calendar"></i> </span>@tour.StayDuration</a>
                                    </li>
                                </ul><!-- /.listing-card-two__meta -->
                                <div class="listing-card-two__price">
                                    <h5 class="listing-card-two__price__number">RS- @((int)tour.PricePerPerson)<span>/Per day</span></h5>
                                    <i class="far fa-heart"></i>
                                </div><!-- /.listing-card__price -->
                            </div><!-- /.listing-card-two__content__inner -->
                        </div><!-- /.listing-card-two__content -->
                    </div><!-- /.listing-card-two -->
                </div>

                <!-- /.col-lg-4 col-md-6 -->
            }
           
          @*   <div class="col-12">
                <ul class="post-pagination justify-content-center" data-wow-duration='1500ms' data-wow-delay='500ms'>
                    <li> <a href="#" class="previous">Previous</a> </li>
                    <li> <a href="#">1</a></li>
                    <li> <a href="#">2</a></li>
                    <li> <a href="#">3</a></li>
                    <li> <a href="#">...</a></li>
                    <li class="active"> <a href="#" class="next">Next</a> </li>
                </ul><!-- /.post-pagination -->
            </div><!-- /.col-12 --> *@
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.tour-listing-page -->




<section class="about-testimonials about-testimonials--two section-space" id="testimonials">
    <div class="container">
        <div class="row align-items-center gutter-y-40">
            <div class="col-lg-5">
                <div class="about-testimonials__left wow fadeInLeft" data-wow-duration='1500ms' data-wow-delay='400ms'>
                    <div class="about-testimonials__thumb">
                        <div class="about-testimonials__thumb__item"><img src="/assets/site/assets/images/resources/testi-2-1.png" alt="man"></div><!-- /.about-testimonials__item -->
                        <div class="about-testimonials__thumb__shape">
                            <img src="/assets/site/assets/images/shapes/portal-1-3.png" alt>
                        </div><!-- /.about-testimonials__thumb__shape -->
                        <div class="about-testimonials__thumb__shape-one">
                            <img src="/assets/site/assets/images/shapes/portal-1-1.png" alt>
                        </div><!-- /.about-testimonials__thumb__shape -->
                        <div class="about-testimonials__thumb__shape-two">
                            <img src="/assets/site/assets/images/shapes/portal-1-2.png" alt>
                        </div><!-- /.about-testimonials__thumb__shape -->
                        <div class="about-testimonials__thumb__shape-three">
                            <img src="/assets/site/assets/images/shapes/portal.png" alt>
                        </div><!-- /.about-testimonials__thumb__shape -->
                    </div><!-- /.about-testimonials__thumb -->
                </div><!-- /.about-testimonials__left -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-7">
                <div class="about-testimonials__right">
                    <div class="sec-title ">
                        <h6 class="sec-title__tagline bw-split-in-right">testimonial</h6><!-- /.sec-title__tagline -->
                        <h3 class="sec-title__title bw-split-in-left">Latest client <span>feedback</span></h3><!-- /.sec-title__title -->
                    </div><!-- /.sec-title -->
                    <div class="about-testimonials__carousel gotur-owl__carousel owl-carousel owl-theme wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms' data-owl-options='{
                            "items": 1,
                            "margin": 30,
                            "loop": false,
                            "smartSpeed": 700,
                            "nav": false,
                            "dots": false,
                            "autoplay": false
                        }'>
                        <div class="about-testimonials__item">
                            <div class="about-testimonials__star">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </div><!-- /.about-testimonials__star -->
                            <p class="about-testimonials__text">Sed ante elit, fringilla vitae laoreet sit amet, tempus et libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget quam quis turpis lacinia euismod cursus in arcu. Integer a purus dolor. Pellentesque finibus ut erat in sagittis. Sed semper </p><!-- / -->
                            <div class="about-testimonials__bottom">
                                <div class="about-testimonials__author">
                                    <div class="about-testimonials__author__thumb">
                                        <img src="/assets/site/assets/images/resources/about-author-1-1.png" alt="author">
                                    </div><!-- /.about-testimonials__thum -->
                                    <div class="about-testimonials__content">
                                        <h6 class="about-testimonials__title">Ronald Richards</h6><!-- /.about-testimonials__title -->
                                        <span>Co, Founder</span>
                                    </div><!-- /.about-testimonials__content -->
                                </div><!-- /.about-testimonials__author -->
                                <div class="about-testimonials__bottom__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.about-testimonials__bottom__quite -->
                            </div><!-- /.about-testimonials__bottom -->

                        </div><!-- /.about-testimonials__item -->
                        <div class="about-testimonials__item">
                            <div class="about-testimonials__star">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </div><!-- /.about-testimonials__star -->
                            <p class="about-testimonials__text">Sed ante elit, fringilla vitae laoreet sit amet, tempus et libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget quam quis turpis lacinia euismod cursus in arcu. Integer a purus dolor. Pellentesque finibus ut erat in sagittis. Sed semper </p><!-- / -->
                            <div class="about-testimonials__bottom">
                                <div class="about-testimonials__author">
                                    <div class="about-testimonials__author__thumb">
                                        <img src="/assets/site/assets/images/resources/about-author-1-1.png" alt="author">
                                    </div><!-- /.about-testimonials__thum -->
                                    <div class="about-testimonials__content">
                                        <h6 class="about-testimonials__title">Ronald Richards</h6><!-- /.about-testimonials__title -->
                                        <span>Co, Founder</span>
                                    </div><!-- /.about-testimonials__content -->
                                </div><!-- /.about-testimonials__author -->
                                <div class="about-testimonials__bottom__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.about-testimonials__bottom__quite -->
                            </div><!-- /.about-testimonials__bottom -->
                        </div><!-- /.about-testimonials__item -->
                        <div class="about-testimonials__item">
                            <div class="about-testimonials__star">
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </div><!-- /.about-testimonials__star -->
                            <p class="about-testimonials__text">Sed ante elit, fringilla vitae laoreet sit amet, tempus et libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget quam quis turpis lacinia euismod cursus in arcu. Integer a purus dolor. Pellentesque finibus ut erat in sagittis. Sed semper </p><!-- / -->
                            <div class="about-testimonials__bottom">
                                <div class="about-testimonials__author">
                                    <div class="about-testimonials__author__thumb">
                                        <img src="/assets/site/assets/images/resources/about-author-1-1.png" alt="author">
                                    </div><!-- /.about-testimonials__thum -->
                                    <div class="about-testimonials__content">
                                        <h6 class="about-testimonials__title">Ronald Richards</h6><!-- /.about-testimonials__title -->
                                        <span>Co, Founder</span>
                                    </div><!-- /.about-testimonials__content -->
                                </div><!-- /.about-testimonials__author -->
                                <div class="about-testimonials__bottom__quite">
                                    <i class="icon-straight-quotes"></i>
                                </div><!-- /.about-testimonials__bottom__quite -->
                            </div><!-- /.about-testimonials__bottom -->
                        </div><!-- /.about-testimonials__item -->
                    </div><!-- /.about-testimonials__carousel -->
                </div><!-- /.about-testimonials__right -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="about-testimonials__element-three">
        <img src="/assets/site/assets/images/shapes/des-1-1.png" alt>
    </div><!-- /.about-testimonials__element-three -->
</section><!-- /.about-testimonials -->